<table>
	<tr>
		<td><b>Name:<b></td>
		<td><%= @product.name %></td>
	</tr>
	<tr>
		<td><b>Description:<b></td>
		<td><%= @product.description %></td>
	</tr>
	<tr>
		<td><b>Price:<b></td>
		<td><%= "$%.2f" % @product.price %></td>
	</tr>
	<tr>
		<td><b>Category:<b></td>
		<td><%= @product.category %></td>
	</tr>
</table>
<a href="/products/<%= @product.id %>/edit">Edit</a> &#x2502; <a href="/products">Back</a>
<h2>Comment:</h2>
<form action="/comments" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="hidden" name="product_id" value="<%= @product.id %>">
	<textarea name="content"></textarea>
	<input type="submit">
</form>
<% @comments.each do |comment| %>
<p><%= comment.content %> - <%= comment.created_at.localtime.strftime("%m/%d/%y") %></p>
<% end %>